In [1]:
# Import libraries and dependencies
import os
import requests
import numpy as np
import pandas as pd
import sqlalchemy
import pandas_datareader as pdr
import datetime
from pathlib import Path

# Yahoo Finance Imports (This is a new python library)
import yfinance as yf

# Monte Carlo Simulation/matplotlib Import
from MCForecastTools import MCSimulation
%matplotlib inline

In [2]:
sp500_csv = pd.read_csv(Path('/Users/Dylan/desktop/fintech/DataVisualization/sp500_companies.csv'))
sp500_csv.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [3]:
btc_ticker = yf.Ticker("BTC-USD")
btc_hist = btc_ticker.history(period='max')
btc_hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-17,23881.316406,24407.058594,23243.353516,23335.998047,30931623076,0,0
2022-08-18,23341.039062,23563.832031,23177.601562,23212.738281,23747613147,0,0
2022-08-19,23213.312500,23213.312500,20868.847656,20877.552734,40509610260,0,0
2022-08-20,20872.841797,21350.806641,20856.730469,21166.060547,27595671000,0,0
2022-08-21,21160.392578,21668.845703,21103.197266,21534.121094,23102307723,0,0

In [5]:
btc_hist.drop(btc_hist.columns.difference(['Close']), 1, inplace=True)
btc = btc_hist.rename(columns={"Close": "BTC"})
btc.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                   BTC
Date
2014-09-17  457.334015
2014-09-18  424.440002
2014-09-19  394.795990
2014-09-20  408.903992
2014-09-21  398.821014

In [6]:
eth_ticker = yf.Ticker("ETH-USD")
eth_hist = eth_ticker.history(period='max')
eth_hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-17,1877.934326,1951.675659,1823.532227,1832.999634,20308508124,0,0
2022-08-18,1833.715576,1876.376953,1826.957764,1847.007812,14999352229,0,0
2022-08-19,1847.095337,1847.095337,1611.338867,1612.987305,25906358731,0,0
2022-08-20,1612.650635,1652.218750,1534.298828,1577.003784,18334580263,0,0
2022-08-21,1576.543579,1640.936523,1569.046509,1619.318970,15849221752,0,0

In [7]:
eth_hist.drop(eth_hist.columns.difference(['Close']), 1, inplace=True)
eth = eth_hist.rename(columns={"Close": "ETH"})
eth.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                   ETH
Date
2017-11-09  320.884003
2017-11-10  299.252991
2017-11-11  314.681000
2017-11-12  307.907990
2017-11-13  316.716003

In [8]:
ergo_ticker = yf.Ticker("ERG-USD")
ergo_hist = ergo_ticker.history(period='max')
ergo_hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-17,3.256797,3.441787,3.253607,3.285674,1481763,0,0
2022-08-18,3.285650,3.395544,3.264080,3.388780,932502,0,0
2022-08-19,3.388501,3.388867,2.855884,2.857636,2043980,0,0
2022-08-20,2.858518,2.998034,2.819282,2.927128,962626,0,0
2022-08-21,2.927711,3.217128,2.927711,3.109264,969747,0,0

In [9]:
ergo_hist.drop(ergo_hist.columns.difference(['Close']), 1, inplace=True)
erg = ergo_hist.rename(columns={"Close": "ERG"})
erg.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                ERG
Date
2017-11-09  9.24002
2017-11-10  8.08425
2017-11-11  7.89786
2017-11-12  7.58990
2017-11-13  9.57774

In [10]:
sol_ticker = yf.Ticker("SOL-USD")
sol_hist = sol_ticker.history(period='max')
sol_hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-17,43.153057,44.633087,40.286770,40.403053,1336772691,0,0
2022-08-18,40.426510,41.607304,39.525936,39.545231,885648540,0,0
2022-08-19,39.541328,39.541328,35.755028,35.890259,1821467945,0,0
2022-08-20,35.876614,37.223209,34.358337,35.269733,1203622743,0,0
2022-08-21,35.264179,36.982368,34.782307,36.533199,982071275,0,0

In [11]:
sol_hist.drop(sol_hist.columns.difference(['Close']), 1, inplace=True)
sol = sol_hist.rename(columns={"Close": "SOL"})
sol.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                 SOL
Date
2020-04-10  0.951054
2020-04-11  0.776819
2020-04-12  0.882507
2020-04-13  0.777832
2020-04-14  0.661925

In [12]:
ada_ticker = yf.Ticker("ADA-USD")
ada_hist = ada_ticker.history(period='Max')
ada_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.025160,0.035060,0.025006,0.032053,18716200,0,0
2017-11-10,0.032219,0.033348,0.026451,0.027119,6766780,0,0
2017-11-11,0.026891,0.029659,0.025684,0.027437,5532220,0,0
2017-11-12,0.027480,0.027952,0.022591,0.023977,7280250,0,0
2017-11-13,0.024364,0.026300,0.023495,0.025808,4419440,0,0

In [13]:
ada_hist.drop(ada_hist.columns.difference(['Close']), 1, inplace=True)
ada = ada_hist.rename(columns={"Close": "ADA"})
ada.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                 ADA
Date
2017-11-09  0.032053
2017-11-10  0.027119
2017-11-11  0.027437
2017-11-12  0.023977
2017-11-13  0.025808

In [14]:
bnb_ticker = yf.Ticker("BNB-USD")
bnb_hist = bnb_ticker.history(period='max')
bnb_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,2.05314,2.17423,1.89394,1.99077,19192200,0,0
2017-11-10,2.00773,2.06947,1.64478,1.79684,11155000,0,0
2017-11-11,1.78628,1.91775,1.61429,1.67047,8178150,0,0
2017-11-12,1.66889,1.67280,1.46256,1.51969,15298700,0,0
2017-11-13,1.52601,1.73502,1.51760,1.68662,12238800,0,0

In [15]:
bnb_hist.drop(bnb_hist.columns.difference(['Close']), 1, inplace=True)
bnb = bnb_hist.rename(columns={"Close": "BNB"})
bnb.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                BNB
Date
2017-11-09  1.99077
2017-11-10  1.79684
2017-11-11  1.67047
2017-11-12  1.51969
2017-11-13  1.68662

In [16]:
xrp_ticker = yf.Ticker("XRP-USD")
xrp_hist = xrp_ticker.history(period='Max')
xrp_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.217911,0.221791,0.214866,0.217488,147916992,0,0
2017-11-10,0.218256,0.219068,0.205260,0.206483,141032992,0,0
2017-11-11,0.205948,0.214456,0.205459,0.210430,134503008,0,0
2017-11-12,0.210214,0.210214,0.195389,0.197339,251175008,0,0
2017-11-13,0.197472,0.204081,0.197456,0.203442,132567000,0,0

In [17]:
xrp_hist.drop(xrp_hist.columns.difference(['Close']), 1, inplace=True)
xrp = xrp_hist.rename(columns={"Close": "XRP"})
xrp.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                 XRP
Date
2017-11-09  0.217488
2017-11-10  0.206483
2017-11-11  0.210430
2017-11-12  0.197339
2017-11-13  0.203442

In [18]:
avax_ticker = yf.Ticker("AVAX-USD")
avax_hist = avax_ticker.history(period='max')
avax_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-07-13,4.613968,4.915115,4.481499,4.896294,28340,0,0
2020-07-14,4.909865,5.229564,4.762068,4.986754,3957,0,0
2020-09-22,4.986754,11.463443,4.125380,5.234632,288098840,0,0
2020-09-23,5.321654,5.329310,3.982604,4.118469,173091214,0,0
2020-09-24,3.817925,4.751878,3.539887,4.566561,96110964,0,0

In [19]:
avax_hist.drop(avax_hist.columns.difference(['Close']), 1, inplace=True)
avax = avax_hist.rename(columns={"Close": "AVAX"})
avax.head()

/Users/Dylan/opt/anaconda3/envs/alpacaenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

                AVAX
Date
2020-07-13  4.896294
2020-07-14  4.986754
2020-09-22  5.234632
2020-09-23  4.118469
2020-09-24  4.566561

In [34]:
crypto_df = pd.concat([btc, eth, erg, sol, bnb, xrp, avax, ada], axis=1)
crypto_df.fillna(0, inplace=True)
crypto_df

,BTC,ETH,ERG,SOL,BNB,XRP,AVAX,ADA
Date,,,,,,,,
2014-09-17,457.334015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-09-18,424.440002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-09-19,394.795990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-09-20,408.903992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2014-09-21,398.821014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
2022-08-17,23335.998047,1832.999634,3.285674,40.403053,306.636414,0.379707,25.486738,0.537038
2022-08-18,23212.738281,1847.007812,3.388780,39.545231,298.141235,0.370965,24.257698,0.512633
2022-08-19,20877.552734,1612.987305,2.857636,35.890259,279.718719,0.335049,22.487879,0.450980
2022-08-20,21166.060547,1577.003784,2.927128,35.269733,283.693146,0.337541,22.302879,0.451388
2022-08-21,21534.121094,1619.318970,3.109264,36.533199,302.056274,0.345302,22.977310,0.463546